{% extends 'admin/base.html.twig' %}

{% block content %}
    <div style="margin-left: 300px">
        <h1 class="text-base font-semibold leading-7 text-gray-900 mt-3">Criar Novo Administrador</h1>
        <p class="mt-1 text-sm leading-6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>

        {{ form_start(AdminForm) }}
        <div class="grid grid-cols-2 md:grid-cols-2 gap-1 mt-10">
            <div>
                {{ form_label(AdminForm.name, 'Nome', {'label_attr': {'class': 'block text-sm text-black-700 font-medium'}}) }}
                {{ form_widget(AdminForm.name, {'attr': {'class': 'block w-11/12 shadow-sm border-black-300 rounded-md border p-2 mt-1 mb-2'}})}}
                {{ form_errors(AdminForm.name) }}
            </div>
            <div>
                {{ form_label(AdminForm.email, 'Email', {'label_attr': {'class': 'block text-sm text-black-700 font-medium'}}) }}
                {{ form_widget(AdminForm.email, {'attr': {'class': 'block w-11/12 shadow-sm border-black-300 rounded-md border p-2 mt-1 mb-2'}})}}
                {{ form_errors(AdminForm.email) }}
            </div>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-2 gap-1 mt-10">
            <div>
                {{ form_label(AdminForm.telefone, 'Telefone', {'label_attr': {'class': 'block text-sm text-black-700 font-medium'}}) }}
                {{ form_widget(AdminForm.telefone, {'attr': {'class': 'block w-11/12 shadow-sm border-black-300 rounded-md border p-2 mt-1 mb-2'}})}}
                {{ form_errors(AdminForm.telefone) }}
            </div>
            <div>
                {{ form_label(AdminForm.cpf, 'Cpf', {'label_attr': {'class': 'block text-sm text-black-700 font-medium'}}) }}
                {{ form_widget(AdminForm.cpf, {'attr': {'class': 'block w-11/12 shadow-sm border-black-300 rounded-md border p-2 mt-1 mb-2'}})}}
                {{ form_errors(AdminForm.cpf) }}
            </div>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-2 gap-1 mt-10">
            <div>
                {{ form_label(AdminForm.password, 'Senha', {'label_attr': {'class': 'block text-sm text-black-700 font-medium'}}) }}
                {{ form_widget(AdminForm.password, {'attr': {'class': 'block w-11/12 shadow-sm border-black-300 rounded-md border p-2 mt-1 mb-2'}})}}
                {{ form_errors(AdminForm.password) }}
            </div>
        </div>

        <div>
            <button type="submit"
                    class="block w-11/12 al-center shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Criar Produto</button>
        </div>

        {{ form_end(AdminForm) }}
    </div>

{% endblock %}